* {
    font-family: "Bai Jamjuree", sans-serif;
}

:root {
  --primary-color: #d5b793;
  --secondary-color: #8e3200;
  --third-color: #c0998b;
  --pro-color: #a64b2a;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

/* NAVBAR AREA */
.navbar{
    position: fixed;
    padding: 10px 0 10px 0;
    width: 100%;
    font-weight: 600;
    transition: all .2s ease;
    z-index: 9999;
}
.navbar.color-active {
    background-color: var(--navbar-color);
    padding: 15px 0 15px 0;
    border-bottom: 2px solid #8e320098;
}
.navbar .nav-link a {
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    text-decoration: none;
    color: var(--navbar-color-text);
    border-radius: 5px;
}
.navbar .nav-link a:hover {
    color: var(--secondary-color);
}
.navbar .nav-link .active {
    background-color: var(--secondary-color);
    color: var(--navbar-color);
}
.navbar .nav-link .active:hover{
    color: var(--navbar-color);
}
.navbar button {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}
.navbar button:hover {
    background-color: var(--secondary-color);
    color: var(--navbar-color);
}
/* NAVBAR AREA */





/* LOGIN AREA */
.login-card{

    margin-top: 15rem;
}
.login-container {
    display: flex;
    grid-template-columns: 450px;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.grid {
    display: grid;
}
.login-card {
    position: relative;
    height: 75%;
    background-color: var(--primary-color);
    border: 2px solid #a64b24;
    text-align: center;
    line-height: 2rem;
    padding: 2rem 0 4rem 0;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.login-box {
    padding-top: 2rem;
}
.login-label-email {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    left: -9rem;
}
.login-label-password {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    left: -8rem;
}
.login-input {
    display: inline-block;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
}
/* .back-button {
    display: inline-block;
    position: relative;
    width: 9rem;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: #fff;
    color: #a64b24;
    border: 1px solid #a64b24;
    left: -1rem;
    cursor: pointer;
} */
.login-button {
    display: inline-block;
    position: relative;
    width: 9rem;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    color:white;
    border: 1px solid #a64b24;
    cursor: pointer;
}
/* LOGIN AREA */





/* HEADER AREA */
header {
  background: var(--primary-color)
}
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);     
}
.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    border-radius: 15px;
}
.search input:focus{
    box-shadow: none;
    border: 2px solid var(--secondary-color);
}
.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: var(--secondary-color);
    border-radius: 10px;
}
.search button:hover {
    background: #702a04
}
.homepage .header-box h3 {
    font-size: 3.2rem;
    font-weight: 600;
    color: white;
}
.homepage .header-box p {
    line-height: 2;
    color: white;
    font-weight: 500;
}
.homepage .header-box img {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .homepage .header-box {
        padding: 6rem 3rem 6rem 3rem;
    }
    .homepage .header-box img {
        display: none;
    }
}
/* HEADER AREA */





/* ARTICLE AREA */
.homepage .article {
    background-color: #f6f8fd;
    padding-bottom: 100px;
}
.homepage .article .row:nth-child(1) {
    padding-top: 150px;
    padding-bottom: 100px;
}
.homepage .article .row:nth-child(1) h1,
.homepage .article .row:nth-child(1) p {
    color: var(--color-text);
}
.homepage .article .row:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-inline: 10px;
}
.homepage .article .row:nth-child(2) .col {
    background-color: #fff;
    padding: 0;
}
.homepage .article .row:nth-child(2) img {
    width: 100%;
    height: 250px;
}
.homepage .article .ket button {
    border-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    background-color: var(--secondary-color);
}
.homepage .article .ket button:hover {
    background-color: #702c07;
    color: var(--navbar-color);
}
.homepage .article .row:nth-child(3) {
    padding-top: 75px;
}
/* ARTICLE AREA */




/* POPULAR DESIGN AREA */
.homepage .design {
    background-color: var(--third-color);
}
.homepage .design h1 {
    color: white;
}
.homepage .design .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.homepage .design .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.homepage .design .swiper-slide:active {
    cursor: grabbing;
}
.homepage .design .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homepage .design .swiper-slide .popular-exp p {
    font-size: smaller;
}
/* POPULAR DESIGN AREA */





/* FOOTER AREA */
.footer {
    width: 100%;
    min-height: 60vh;
}
.button-footer {
    border-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    background-color: var(--secondary-color);
}
.button-footer:hover {
    background-color: var(--secondary-color);
    color: var(--navbar-color);
}
.social {
    display: flex;
    align-items: center;
    gap: 10px;
}
.social i {
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 20px;
}
.social i:hover {
    color: var(--pro-color);
}
/* FOOTER AREA */